.skills {
    background-color: #7B7368;
    -webkit-box-shadow: inset 0px 50px 44px -8px rgba(0,0,0,0.64); 
    box-shadow: inset 0px 50px 44px -8px rgba(0,0,0,0.64);
    .skill-title {
        color: #F7D3A7;
    }

    p {
        color: #BDAD98;
    }
}