.work {
    background-color: #202430;
    position: relative;
    .show-webcap {
        position: sticky;
        width: 100%;
        height: 100vh;
        z-index: 30;
        justify-content: center;
        align-items: center;
        display: none;
        top: 0;

        img {
            width: 70%;
        }
    }
    .work-header {
        text-align: center;
        padding-top: 5%;
        text-transform: uppercase;
        color: #C4C2C3;
        h1 {
            margin: 0;
        }
    }
    .logo-group {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 4%;
        flex-wrap: wrap;

        .logo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2% 0;
        }
    }

    .work-details-container {
        width: 100%;
        position: relative;
        background: rgb(0,0,0);
        background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(43,28,51,1) 58%, rgba(32,36,48,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(43,28,51,1) 58%, rgba(32,36,48,1) 100%);
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(43,28,51,1) 58%, rgba(32,36,48,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#202430",GradientType=1);

        .work-bg {
            width: 100%;
            position: absolute;
        }

        .work-block {
            padding: 3%;
            .work-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #C4C2C3;
                padding:3%;
            }

            .work-screencap {
                opacity: 0;
                transform: translateY(-100px);
                transition: all .5s ease-in-out;
                cursor: zoom-in;
                img {
                    width: 100%;

                }
            }

            .show-img {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}